[tools]
difftastic = "latest"
"npm:@protobuf-ts/plugin" = "2.9.1"
"npm:protoc-gen-ts" = "latest"
protoc = "latest"

[tasks.build]
run = "protoc -I . --ts_out . --ts_opt long_type_string,client_none,generate_dependencies results/api/v1/cache.proto"
